body {
  background-color: #f6f6f6;
  height: 555px;
  width: 800px;
  margin: 0px;
  user-select: none;
  font-family: Cantarell, Arial, sans-serif;
}
.popup {
  display: flex;
  flex-flow: column;
}
.main {
  display: flex;
  height: 527px;
}
.left {
  display: flex;
  flex-flow: column;
  width: 283px; /* 5+8*(2+1+2+22+2+1+2)+5+1+16 */
}
.browser_container::-webkit-scrollbar {
  display: none;
}
.browser_container {
  overflow-y: scroll;
  flex: 1;
  display: flex;
  scrollbar-width: none;
}
.browser {
  display: flex;
  flex: 1;
  flex-flow: column;
}
.browserHeader {
  display: flex;
  height: 16px;
  border-bottom: 1px solid black;
}
.browserHeader_caption {
  flex: 1;
  text-align: center;
  align-self: center;
  color: #363636;
  font-size: 13px;
}
.toggleAllWindows {
  width: 16px;
  height: auto;
  background-color: white;
  border-left: 1px dotted grey;
  cursor: pointer;
}
.toggleAllWindows.allEnabled {
  background-color: black;
}
.toggleAllWindows.someEnabled {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/black-white-16.png");
}
.right {
  border-left: 1px solid black;
  display: flex;
  flex-flow: column;
  flex: 1;
  min-width: 0;
}
.footer {
  border-top: 1px solid;
  display: flex;
  height: 27px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}
.message {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 5px 0 5px;
} 
.message.hint {
  font-size: 15px;
  font-weight: bold;
}
.message.url {
  font-size: 14px;
}
.message.title {
  font-size: 16px;
}
.createWindow_container {
  padding: 2px 5px 5px 5px;
}
.window {
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}
.window:last-child {
	border-bottom-width: 0;
}
.window.incognito {
  background-color: #d7d9d9;
}
.tabs_container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  padding: 2px 5px 5px 5px;
}
.createTab {
  width: 20px;
  height: 20px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: white;
  margin: 3px;
  padding: 2px;
  background-image: url("/img/plus-16.png");
  border: 1px solid grey;
  cursor: pointer;
}
.toggleWindow {
  width: 16px;
  height: auto;
  cursor: pointer;
  border-left: 1px dotted grey;
}
.tab {
  width: 22px;
  height: 22px;
  border: 2px solid grey;
  border-radius: 3px;
	padding: 1px;
  margin: 2px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
}
.tab.checked {
  border-color: #c43926;
  border-width: 3px;
  padding: 0px;
}
.tab.active {
  border-style: outset;
}
.tab.pinned {
  background-color: lightyellow;
}
.toolbar {
  padding-right: 4px;
  padding-left: 4px;
}
.row1 {
  display: flex;
  flex-flow: column;
}
.row2 {
  display: flex;
  flex-flow: row wrap;
  padding: 6px 0 6px 0;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.row3 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 6px 0 6px 0;
}
.toolbar_separator {
  background: linear-gradient(to right, transparent, black, transparent);
  height: 1px;
}
.search {
  flex: 1;
  height: 30px;
  outline: none;
  font-size: 20px;
  color: #363636;
  background: none;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
  padding-right: 24px;
}
.search_container {
  display: flex;
}
.clearSearch {
  width: 30px;
  height: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/pacman-38.png");
  margin-left: -24px;
  margin-top: 2px;
  cursor: pointer;
}
.windowTools {
  display: flex;
  flex-flow: row nowrap;
}
.editSelection {
  display: flex;
  flex-flow: row nowrap;
}
.edit {
  width: 20px;
  height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-right: 3px;
  padding: 2px;
  border: 1px solid grey;
  cursor: pointer;
}
.edit.not {
  background-image: url("/img/not-38.png");
}
.edit.similar {
  background-image: url("/img/about-38.png");
}
.edit.duplicates {
  background-image: url("/img/greater-38.png");
}
.edit.uncheck {
  margin-left: 5px;
  background-image: url("/img/empty-38.png");
}
.groupChecked {
  width: 20px;
  height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  padding: 2px;
  border: 1px solid grey;
  cursor: pointer;
  background-image: url("/img/group-38.png");
}
.groupChecked.enabled {
  background-color: #c43926;
  background-image: url("/img/group-white-38.png");
}
.sortSelection {
  display: flex;
  flex-flow: row;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c43926;
  background-color: white;
  width: 60px;
  height: 20px;
  margin: 0;
  padding: 2px;
  font-size: 14px;
  border-style: solid;
  border-color: grey;
  border-width: 1px 0px 1px 1px;
  text-align: center;
  cursor: pointer;
}
.sort.selected {
  background-color: #c43926;
  color: white;
}
.sort:last-child {
  border-width: 1px;
}
.preview {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 36px;
}
.preview_tab {
  width: 22px;
  height: 22px;
  border: 1px solid grey;
  border-radius: 3px;
	padding: 2px;
  margin: 2px 2px 2px 6px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.preview_favicon {
  width: 16px;
  height: 16px;
  margin: 1px 1px 1px 1px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.preview_content {
  display: flex;
  min-height: 24px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-style: dotted;
  border-width: 1px;
  border-color: grey;
  border-radius: 3px;
  padding: 5px;
  margin: 0 3px 0 3px;
  cursor: grab;
}
.noPreview {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 36px;
  align-items: center;
  font-style: italic;
  color: #363636;
  font-size: 12px;
}
.executeAction {
  display: flex;
  flex-flow: row nowrap;
}
.action {
  width: 20px;
  height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-left: 3px;
  padding: 2px;
  border: 1px solid grey;
  cursor: pointer;
}
.action.extract {
  background-image: url("/img/lightning-38.png");
}
.action.delete {
  background-image: url("/img/bin-38.png");
}
.action.sort {
  background-image: url("/img/az-38.png");
}
.action.pin {
  background-image: url("/img/pin-38.png");
}
.selection_container {
  flex: 1;
  overflow-y: scroll;
}
.item {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  align-items: center;
  cursor: default;
}
.item.checked {
  background-color: yellow;
}
.item_favicon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px 0 15px;
}
.item_title {
  flex: 1;
  overflow: hidden;
  background-color: white;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  border-radius: 4px;
  padding: 0 5px 0 5px;
  color: #363636;
}
.item_title.checkedFromSearch {
  color: #c43926;
}
.item_check.checked {
  background-image: url("/img/tick-38.png");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.item_check {
  background-color: white;
  width: 12px;
  height: 12px;
  border: 1px solid grey;
}
.item_checkbox {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  margin: 0 15px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
