body {
  background-color: #f6f6f6;
  margin: 0px;
  padding: 0px;
  user-select: none;
  height: 600px;
  max-width: 800px;
  min-width: 533px; /* 516 + 17 */
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  display: grid;
  height: inherit;
  grid-template-columns: 17px 516px;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "openPanel toolbar"
                       "togglebar list";
}
.main.expanded {
  grid-template-columns: 284px 516px;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "panel toolbar"
                       "panel list";
}
.panel {
  display: flex;
  flex-flow: column;
  border-right: 1px solid black;
  grid-area: panel;
}
.openPanel {
  background-color: white;
  cursor: pointer;
  grid-area: openPanel;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: black;
  background-image: url("/img/triangle-38.png");
}
.openPanel:hover {
  background-color: whitesmoke;
}
.togglebar {
  grid-area: togglebar;
  flex-flow: column;
  display: flex;
  border-right: 1px solid black;
}
.toggleWindow_togglebar {
  border-top: 1px solid black;
}
.toggleWindow_panel {
  border-left: 1px dotted gray;
  width: 16px;
}
.browser_container::-webkit-scrollbar {
  display: none;
}
.browser_container {
  overflow-y: scroll;
  flex: 1;
  display: flex;
  scrollbar-width: none;
}
.browser {
  display: flex;
  flex: 1;
  flex-flow: column;
}
.browserHeader {
  display: flex;
  height: 16px;
  border-bottom: 1px solid black;
}
.browserHeader_caption {
  flex: 1;
  text-align: center;
  align-self: center;
  color: #363636;
  font-size: 13px;
}
.toggleAllWindows {
  width: 16px;
  height: auto;
  background-color: white;
  border-left: 1px dotted gray;
  cursor: pointer;
}
.toggleAllWindows.allEnabled {
  background-color: black;
}
.toggleAllWindows.someEnabled {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/black-white-16.png");
}
.message {
  text-align: center;
  padding: 5px;
} 
.message.hint {
  font-size: 16px;
}
.message.url {
  font-size: 12px;
}
.message.title {
  font-size: 14px;
}
.createWindow_container {
  padding: 2px 5px 5px 5px;
}
.window {
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}
.window:last-child {
	border-bottom-width: 0;
}
.window.incognito {
  background-color: #d7d9d9;
}
.tabs_container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  padding: 2px 5px 5px 5px;
}
.createTab {
  width: 20px;
  height: 20px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: white;
  margin: 3px;
  padding: 2px;
  background-image: url("/img/plus-16.png");
  border: 1px solid grey;
  cursor: pointer;
}
.toggleWindow {
  cursor: pointer;
}
.tab {
  width: 22px;
  height: 22px;
  border: 2px solid grey;
  border-radius: 3px;
	padding: 1px;
  margin: 2px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
}
.tab.checked {
  border-color: #c43926;
  border-width: 3px;
  padding: 0px;
}
.tab.active {
  border-style: outset;
}
.tab.pinned {
  background-color: darkgray;
}
.toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template-columns: 1fr 330px;
  grid-template-rows: 1fr;
  background-color: dimgray;
}
.toolbar_left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.toolbar_right {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.search {
  display: flex;
  flex: 1;
  outline: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
  background: white;
  border-width: 1px;
  border-style: solid;
  padding-right: 22px;
  border-radius: 10px;
  min-height: 24px;
  padding-left: 5px;
  max-width: 140px;
}
.search_container {
  margin: 5px 0px 5px 5px;
  display: flex;
}
.clearSearch {
  width: 20px;
  height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/pacman-38.png");
  margin-left: -21px;
  align-self: center;
  cursor: pointer;
}
.editSelection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.edit {
  width: 20px;
  min-height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid grey;
  padding: 2px;
  cursor: pointer;
}
.edit:hover {
  background-color: whitesmoke;
}
.edit.not {
  background-image: url("/img/not-38.png");
}
.edit.similar {
  background-image: url("/img/about-38.png");
}
.edit.uncheck {
  background-image: url("/img/empty-38.png");
  grid-row-start: span 2;
}
.globalAction {
  width: 40px;
  height: 40px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.globalAction:hover {
  background-color: whitesmoke;
}
.globalAction.delete {
  background-image: url("/img/bin-38.png");
}
.globalAction.sort {
  background-image: url("/img/az-38.png");
}
.globalAction.duplicates {
  background-image: url("/img/greater-38.png");
}
.sortList {
  display: flex;
  flex-flow: row nowrap;
}
.sortBy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c43926;
  background-color: white;
  width: 50px;
  height: 22px;
  margin: 0;
  font-size: 12px;
  border-style: solid;
  border-color: grey;
  border-width: 1px 1px 1px 0;
  border-bottom-style: dotted;
  cursor: pointer;
}
.sortBy:hover {
  background-color: whitesmoke;
}
.sortBy.selected {
  background-color: #c43926;
  color: white;
  border-bottom: 1px solid #c43926;
}
.sortBy.selected:hover {
  background-color: #c43926;
}
.groupChecked {
  width: 18px;
  height: 18px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  padding: 2px;
  margin-left: 3px;
  border: 1px solid grey;
  border-bottom-style: dotted;
  cursor: pointer;
  background-image: url("/img/group-38.png");
}
.groupChecked:hover {
  background-color: whitesmoke;
}
.groupChecked.enabled {
  background-color: #c43926;
  background-image: url("/img/group-white-38.png");
  border-bottom: 1px solid #c43926;
}
.groupChecked.enabled:hover {
  background-color: firebrick;
}
.preview {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
}
.preview_favicon {
  width: 16px;
  height: 16px;
  margin: 1px 1px 1px 1px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.preview_favicons {
  cursor: grab;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}
.preview_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 1px 5px 1px 5px;
}
.nOtherTabs {
  color: black;
  font-size: 14px;
  height: 16px;
  margin: 2px 0 0 5px;
}
.noPreview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.processing {
  align-self: center;
  text-align: center;
  flex: 1;
  color: white;
  font-size: 25px;
}
.executeAction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.action {
  width: 20px;
  min-height: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  padding: 2px;
  border: 1px solid grey;
  cursor: pointer;
}
.action:hover {
  background-color: whitesmoke;
}
.action.extract {
  background-image: url("/img/lightning-38.png");
}
.action.delete {
  background-image: url("/img/bin-38.png");
}
.action.sort {
  background-image: url("/img/az-38.png");
}
.action.pin {
  background-image: url("/img/pin-38.png");
}
.list_container {
  overflow-y: scroll;
  background-color: #f6f6f6;
  grid-area: list;
  scrollbar-width: none;
}
.list_container::-webkit-scrollbar {
  display: none;
}
.list {
  margin: 10px 10px 10px 10px;
}
.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  cursor: default;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 22px;
  line-height: 22px;
}
.item:first-child {
  border-top: 1px solid black;
}
.item:last-child {
  border-bottom: 1px solid black;
}
.item:hover {
  background-color: whitesmoke;
}
.item.checked {
  background-color: lightyellow;
}
.item.checked:hover {
  background-color: lemonchiffon;
}
.item_favicon {
  width: 20px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px 0 5px;
}
.item_title {
  flex: 1;
  overflow: hidden;
  font-size: 13px;
  color: #363636;
  white-space: nowrap;
  align-self: center;
}
.item_title.checkedFromSearch {
  color: #c43926;
}
.item_website {
  font-size: 12px;
  align-self: center;
  border-radius: 11px 0 0 11px;
  background-color: dimgray;
  color: white;
  display: none;
  padding: 0 5px 0 6px;
  cursor: default;
}
.item_check.checked {
  background-image: url("/img/tick-38.png");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.item_check {
  background-color: white;
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  visibility: hidden;
}
.item_check.visible {
  visibility: visible;
}
.item_checkbox {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid lightgray;
  cursor: pointer;
}
.item_checkbox:hover .item_check {
  visibility: visible;
}
.item:hover .item_website {
  display: block;
}
